<!DOCTYPE html>
<html>

<head>

    <title>Guess The Word - Lobby</title>

    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

</head>


<body>


<div class="container">


    <div class="game-card">


        <h1>
            Guess The Word
        </h1>



        <h2>
            Lobby
        </h2>





        <div class="status-box">


            <h3 id="status">

                Waiting...

            </h3>


        </div>





        <button id="enterBtn">

            Enter Game

        </button>






        <div class="players-box">


            <h2>

                Players

            </h2>




            <div id="players">


            </div>



        </div>





    </div>


</div>







<script src="/socket.io/socket.io.js"></script>

<script src="/js/lobby.js"></script>


</body>

</html>